<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Unit Tests">
			<directory prefix="test-" suffix=".php">./tests/unit/</directory>
		</testsuite>
		<testsuite name="Integration Tests">
			<directory prefix="test-" suffix=".php">./tests/integration/</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">./includes/</directory>
			<directory suffix=".php">./admin/</directory>
			<directory suffix=".php">./public/</directory>
		</include>
		<exclude>
			<directory>./tests/</directory>
			<directory>./vendor/</directory>
		</exclude>
	</coverage>
	<logging>
		<log type="coverage-html" target="./coverage" />
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
	</logging>
</phpunit>